/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global base styles for html and body */
html,
body {
  font-family: "Senja Mentari", sans-serif;
  background-color: #f5f5f5e8;
  color: #333;

  height: 100%;
  width: 100%;
}

/* Global background image */
body {
  background-image: url("/Images/Pic3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Ensure the root container fills the viewport */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
